@font-face {
    font-family: "Line";
    src: url("../fonts/Line.ttf");
}
@font-face {
    font-family: "Mononoki";
    src: url("../fonts/Mononoki.ttf");
}
@font-face {
    font-family: "SiYuan";
    src: url("../fonts/NotoSansCJKsc.otf");
}
@font-face {
    font-family: "XinQN";
    src: url("../fonts/XinQingNian.otf");
}